# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     platform
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: '%kernel.root_dir%/data.db3'

    #MongoDB
    mongodb_server: 'mongodb://localhost:27017'

    #Redis
    redis_server: 'redis://localhost:6379'
    redis_prefix: 'platform'

    #Elastic Search
    elasticsearch_server: 'localhost'
    elasticsearch_port: 9200

    #RabbitMQ
    rabbitmq_server: 'localhost'
    rabbitmq_port: 5672
    rabbitmq_user: 'guest'
    rabbitmq_password: 'guest'
    rabbitmq_vhost: '/'

    #FosUser
    user_driver: 'orm'
    user_class: 'Ihsan\AppBundle\Entity\User'

    #SymfonyIdAdmin
    app_title: 'IHSAN PLATFORM'
    app_title_short: 'IP'
    record_per_page: 17
    record_max: 1000
    date_format: 'd-m-Y'

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            'a6c86b98fb8d7712c5c4a4d04608ff4b7c944f82'
